.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px; /* Adjust this to match the height of your fixed header */
  padding-bottom: 20px;
  background-color: #000; /* Adjust according to your design */
  border-radius: 1rem;
  margin-bottom: 20px;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the content spans the full width */
}

.banner-image {
  width: 30%; /* Adjust the size of the image */
  max-width: 300px; /* Ensure it doesn't grow too large */
  height: auto; /* Maintain aspect ratio */
}
