body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #981602, #171515 50%, #981602);
  /* Ensure this path is correct if you uncomment it
  background-image: url('/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.main-content {
  margin-top: 60px; /* Adjust based on the height of your fixed header */
}



.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
